* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyHome {
    background-color: #B3EAE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 600px;
    height: 95vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logoImage {
    width: 310px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Tablet: entre 480px e 770px*/

@media (min-width:770px) {
    
}
