.inputForm {
    padding: 0.4rem;
    margin: 5px;
    border: 1.5px solid #DAB5E1;
    outline:#DAB5E1;
    border-radius: 30px;
    width: 350px;
    height: 50px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.labelForm {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #358f84;
}