.container{
    background-color: white;
    color:#91529e;
    border: 1px solid #358f84;
    border-radius: 30px;
    width: 350px;
    height: 50px;
    font-family:'Montserrat', sans-serif;
    padding: 15px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px;
}

.icones{
    display: flex;
    gap:5px
}

.adicionar, .retirar{
    background-color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5em;
    border: 1px solid #358f84;
    color: #91529e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}