.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista, .total{
    min-width: 350px;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.product{
    border-radius: 30px;
    border: 1px solid #91529e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin:5px;
    align-items: center;
}

.add{
    display: flex;
    gap:10px;
    align-items: center;
}

.miniButton{
    width: 40px;
    height: 40px;
    border:1px solid #91529e;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.3em;
    color: #91529e;
}

.name{
    width: 120px;
    text-align: center;
}

.total{
    font-weight: 600;
}