.check{
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #DAB5E1;
    /* position: absolute;
    top: 2em;
    right: 5px; */
    cursor: pointer;
    padding: 3px;
}

.icone{
    width: 50px;
}
