
.nomeItemTitulo{
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 30px;
    background-color: #FFE7C3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #eb9e2b;
    text-align: center;
    cursor: pointer;
}
