* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyHome {
    background-color: #B3EAE4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 600px;
    height: 90vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logoImage {
    width: 350px;
}

.inputForm {
    padding: 0.4rem;
    margin: 5px;
    border: 1.5px solid #DAB5E1;
    outline:#DAB5E1;
    border-radius: 30px;
    width: 350px;
    height: 50px;
}

.labelForm {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #358f84;
}

.btnForm {
    padding: 0.7rem;
    width: 200px;
    height: 40px;
    margin: 10px;
    background-color: #FA81AA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btnForm:hover{
    opacity: 0.7;
}

.btnForm:active{
    opacity: 0.5;
}


/*
Tablet: entre 480px e 770px*/
