:root{
    --Azul:#B3EAE4;
}

.bodyMenu{
    background-color: var(--Azul);
    height: 100vh;
    display: flex;
    gap:20px;
    padding: 20px;
}
.optionsBreakfast, .optionsLunch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    margin-bottom:20px;
}
