.header {
    display: flex;
    justify-content: center;
}
.logoKitchen {
    width: 150px;
}

.orders{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.paragrafos{
    display: flex;
}

.ordersKitchen{
    background-color: #ebd2f0;
    width: 400px;
    border: 2px solid #358f84;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}