.quadrado{
    width: 250px;
    height: 80px;
    background-color: #DAB5E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
}

.nomeItem{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #358f84;
    text-align: center;
}

.valor{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #91529e;
}