.quadrado{
    width: 280px;
    height: 100px;
    background-color: #DAB5E1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    gap:5px;
}

.nomeItem{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #358f84;
    text-align: center;
    width: 120px;
}

.valor{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #91529e;
}

.button{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    border: none;
    background-color: #91529e;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}